@import url(//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

body {
  margin: 0;
  font-size: 16px; }

h1, h2, h3 {
  font-weight: bold; }

h1 {
  font-size: 38px;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center; }

h2 {
  font-size: 26px;
  text-align: center; }

h3 {
  font-size: 18px; }

h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px; }

ul {
  padding-left: 2em; }

li {
  list-style: disc; }

section, nav, footer {
  padding: 20px; }
  section > *, nav > *, footer > * {
    max-width: 900px; }

section > * {
  margin-left: auto;
  margin-right: auto; }

nav, footer {
  text-align: center;
  background-color: #333333;
  line-height: 18px;
  height: 18px; }
  nav, nav *, footer, footer * {
    color: #cccccc; }
  nav > *, footer > * {
    margin: 0 8px; }

footer {
  font-size: 12px; }

.avatar {
  height: auto;
  text-align: center;
  background-color: #3399cc;
  color: white;
  text-shadow: 1px 1px 2px rgba(34, 34, 34, 0.5); }
  .avatar > * {
    vertical-align: middle;
    height: 100%; }
  .avatar .icon {
    height: 120px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0 0 2px 1px white; }

.skills-careers {
  background-color: #eeeeee;
  overflow: hidden; }
  .skills-careers .skill-group {
    width: 100%;
    float: left; }
    @media only screen and (min-width: 800px) {
      .skills-careers .skill-group {
        width: 50%; } }

@media only screen and (min-width: 600px) {
  .social .items {
    display: table; }
  .social .item {
    display: table-cell; } }
.social .items {
  font-size: 18px;
  text-align: center; }
.social .item {
  padding: 30px; }
